.dashboard{
    max-width: 90rem;
    margin: 6.1rem auto;
}

.postbar{
    float: left;
    margin: 1rem 0;
    width: 73%;
}

.newsfeed{
    margin: 1rem 0;
}

@media screen and (max-width:600px){
    .postbar{
        width: 100%;
    }
    .sidebar{
        display:none;
    }
}

.sidebar{
    float: left;
    margin: 1rem 0 0 1%;
    width: 25.5%;
}