.post{
    background: $white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding-bottom: $xs-size;
}

@media screen and (max-width:768px){
    .post{
        margin-bottom: $xs-size;
    }
}

.post__header{
    padding: $xs-size;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.post__caption{
    margin-bottom: 0;
    padding: $xss-size $m-size;
    font: 500;
}

@media screen and (max-width: 768px){
    .post__caption{
        font-size: 14px;
    }
}

.post__content{
    width: 100%;
    height: auto;
}

.post__extra{
    padding: 0 $m-size;
}

.post__lc{
    margin: 0;
}

.post__like{
    margin: 0;
}
.post__button{
    border: none;
    background: none;
    font-size: x-large;
    font-weight: 500;
    margin-left: -5px;
    margin-right: $xs-size;
}

.commentLink{
    border: none;
    background: none;
    margin: 4px 0;
    padding: 0;
    font-weight: 600;
    opacity: 0.5;
    cursor: pointer;
}

 .commentForm{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.commentBox{
    padding: $xss-size;
    border: 0;
    height: 18px;
    resize: none;
    margin-top: $xss-size;
    width: 90%;
}

.commentBox:focus{
    outline: 0;
    border-bottom: 1px solid $dark-grey;
}

.comment__button{
    border: none;
    background: none;
}

