
.userInfo{
    display: flex;
    align-items: center;
    height: 4rem;
}
.user__content{
    display: inline;
    margin-left: $xs-size;
}

.avatar{
    height: 34px;
    width: 34px;
}

.avatar img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.userInfo__name{
    color: $name-color;
    vertical-align: text-bottom;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.post__time{
    color: #d4cdcdb6;
    font-size: 12px;
    margin: 0;
}